.error{
    font-size: 12px;
    color: red;
}

.search-input{
  width: 95%;
    padding: 9px;
    border: 1px solid gray;
    border-color: gray;
    border-radius: 7px;
    margin-left: 11px;
}

.Toastify__toast--error {
    border: 1px solid #EB5757;
    border-radius: 50px !important;
    background: #FAE1E2 !important;
}
.Toastify__toast--error::after {
  position: absolute;
  color: #333333;
  font-size: 15px;
  font-weight: 700;
  left:265px;
  padding-top: 14px !important;
}
.Toastify__toast--error::before {
  position:relative; 
  z-index:100000;
  left:12px;
  top:6px;
}
.Toastify__toast--success {
  border: 1px solid #3A9EA5 !important;
  border-radius: 50px !important;
  background: #F0F9FA !important;
}
.Toastify__toast--success::before {
  position:relative; 
  z-index:100000;
  left:12px;
  top:6px;
}
.Toastify__toast--success::after {
  position: absolute;
  color: #333333;
  font-size: 15px;
  font-weight: 700;
  left:265px;
  padding-top: 14px !important;
}
.Toastify__toast--warning {
  border: 1px solid #E78326  !important;
  border-radius: 50px !important;
  background: #FADFC5 !important;
}
.Toastify__toast--warning::before {
  position:relative; 
  z-index:100000;
  left:12px;
  top:6px;
}  
.Toastify__toast--warning::after {
  position: absolute;
  color: #E78326;
  font-size: 15px;
  font-weight: 700;
  left:265px;
  padding-top: 14px !important;
}
.Toastify__toast-body {
  color: #444C63    ;
  font-size: 14px;
  padding-left: 10px;
  line-height: 20px;
  padding: 0px;
  padding-top: 15px;
  width: 100%;
  font-weight: 400;
  margin-left: 25px !important;
} 
.Toastify__toast > button>  svg {
    display: none;
}

.cursor-pointer{
    cursor: pointer;
}

.table-size{
    padding: 05px 0px 20px 0px;
    width: 100%;
    overflow: scroll;
}

.table-size th{
    white-space: nowrap;
    padding: 2px 10px;
    text-align: left;
}

.table-size td{
    padding: 2px 10px;
    text-align: left;
}

.text-center{
  text-align: center;
}

.g-padding-10 {
  padding: 10px;
}

.swal2-container{
  z-index: 9999 !important;
}
.g-row{
  display: flex;
  width: 100%;
}

.g-col-6 {
  width: 48%;
  margin: 0px 10px;
}

.g-col-4{
  font-size: 14px;
  width: 20%;
  font-weight: 500;
  color: gray;
}
.g-col-8{
  font-size: 14px;
  padding: 0px 10px;
  width: 80%;
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 7px;
  background: white;
  border-color: #c9d7d7;

}

.array-trash{
  position: absolute;
  right: 25px;
  margin-top: -36px;
  background-color: white;
  cursor: pointer;
  padding: 5px;
}

.add-array-item{
  cursor: pointer;
  margin-left: 20px;
  background: gray;
  padding: 4px 14px;
  color: white;
  margin-top: 15px;
  border-radius: 2px;
}